<% layout('layouts/boilerplate') %>

<div class="container mt-3">
      <div class="alert alert-danger col-6 offset" role="alert">
    
        <p class="alert-heading"><%= err.message %></p>
  </div>
</div>


